body {
  margin: 0 auto;
  width: 800px;
  font-family: helvetica;
  color: #4a4a4a;
  font-size: 30px;
}

p {
  font-size: 20px;
}

h1 {
  text-decoration: underline;
}

label {
  font-weight: bold;
  display: block;
}
